<app-navbar></app-navbar>

<div class="content-container content-area">    
    <router-outlet />
</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
	<div class="container text-center">
		<div style="color: white;">|&#160;&#160;&#160;&#160;</div>
		<div><button [routerLink]="['/']">Startseite</button></div>
		<!--
			<div><button [routerLink]="['/register']">Registrieren</button></div>
		-->
		<div><button [routerLink]="['/groups']">Gruppenübersicht</button></div>
		<div><button (click)="logout()">Logout</button></div>
	</div>
</footer>