
<h1>Gruppenübersicht</h1>

<div class="alert alert-info" role="alert" *ngIf="successMember">
    <p>Sie sind nun Mitglied der Gruppe</p>
</div>
<table *ngIf="groupResponseList.length" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Gruppenname</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let group of groupResponseList">
            <td>{{group.name}}</td>
            <td>
                <button class="btn btn-primary" [value]="group.id" (click)="setAsMember($event)">teilnehmen</button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="groupResponseList.length == 0">
    <p>Noch keine Gruppen vorhanden</p>
</div>


<div class="alert alert-info" role="alert" *ngIf="success">
    <p>Gruppe erfolgreich angelegt</p>
</div>
<div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let errMsg of errorMsg">{{errMsg}}</p>
</div>
<div class="mb-3">
    <h2>Neue Gruppe erstellen</h2>
    <label for="group" class="form-label">Group Name</label>
    <input [(ngModel)]="groupRequest.name" type="text" required class="form-control" id="groupName" placeholder="Selbsthilfe Thema" />
</div>
<div class="mb-3">
    <button class="btn btn-primary" (click)="createGroup()">Erstellen</button>
</div>